In [2]:
# Import libraries

In [3]:
import numpy as np
import pandas as pd

In [4]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
# Reading ratings file

df=pd.read_csv(r'C:\Users\hp\Desktop\Pratyush\Study\Data\Python-DS\ratings.csv')

In [5]:
df.head(5)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [6]:
df.size                         #size is multiplication of row and column

4194300

In [7]:
rows = len(df.index)            # index use for rows
rows

1048575

In [8]:
rows1 = df.count()[0]           # [0] is showing a number of rows in userId column
rows1

1048575

In [9]:
rw=df.count()
rw

userId       1048575
movieId      1048575
rating       1048575
timestamp    1048575
dtype: int64

In [10]:
columns = len(df.columns)
columns

4

In [11]:
df.shape                       # shape shows number of rows and columns in separate format.

(1048575, 4)

In [12]:
df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [13]:
# Reading movies file

df1=pd.read_csv(r'C:\Users\hp\Desktop\Pratyush\Study\Data\Python-DS\movies.csv')
df1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
# find the unique value of userid and movieid

In [15]:
n_user=df.userId.unique().shape[0]

n_movie=df.movieId.unique().shape[0]

print(f'Number of users={n_user} and Number of movies={n_movie}')

Number of users=7120 and Number of movies=14026

In [16]:
# To create a rating matrix for rating dataset

In [17]:
ratings=df.pivot(index='userId',columns='movieId',values='rating').fillna(0)
ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
import numpy as np

In [19]:
from surprise import Reader,Dataset,SVD
from surprise.model_selection import cross_validate

In [20]:
reader=Reader()          # Load the reader library
reader

In [21]:
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
data

In [22]:
svd=SVD()

In [23]:
svd

In [24]:
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=3, verbose=True) 

# RMSE= root means square root.
# MAE= means absolute error.
# verbose= print the result along the process.
# cv=3 means that the dataset will be divided into three equal parts. cv= cross_validate

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.8444  0.8450  0.8455  0.8450  0.0004
MAE (testset)     0.6473  0.6476  0.6477  0.6475  0.0001
Fit time          41.08   41.33   40.60   41.00   0.30
Test time         3.58    3.22    3.17    3.32    0.18

{'test_rmse': array([0.84444047, 0.84504698, 0.84547228]),
 'test_mae': array([0.64734306, 0.64759855, 0.64766173]),
 'fit_time': (41.0845091342926, 41.327476501464844, 40.59944200515747),
 'test_time': (3.581759452819824, 3.21628999710083, 3.1738686561584473)}

In [25]:
#Here's a step-by-step explanation of how we would typically divide a dataset into three equal parts for a machine learning task:

# 1 Dataset: we start with our entire dataset, which could be a collection of data points, each with features and corresponding labels (in the case of supervised learning) or without labels (in the case of unsupervised learning).

# 2 Splitting: we divide this dataset into three separate subsets, typically without overlapping data points. Each of these subsets should contain roughly the same number of data points. For example, if we have 300 data points in our dataset, each of the three subsets would ideally contain 100 data points.

# 3 Cross-Validation: we perform cross-validation using these three subsets. In each iteration of cross-validation, one of the subsets is used as the validation set (for evaluating the model's performance), while the other two subsets are used as the training set (for training the model). This process is repeated three times (once for each subset) to ensure that each subset serves as the validation set exactly once.

#The idea behind dividing the dataset into equal parts is to ensure that each part of the data is used for both training and validation, and that the evaluation process is as fair and representative as possible. This is especially important for assessing the model's generalization performance and can help identify if the model is overfitting or underfitting the data.

#In machine learning, the specific number of parts (e.g., 3 in our case) is often determined by the value of the cv parameter in cross-validation techniques like k-fold cross-validation, where "k" represents the number of folds or parts into which the dataset is divided.

# To find all the movies rated as more than 4 stars by user with userId = 1

In [26]:
rating_1=df[(df['userId']==1) & (df['rating']==5)]
rating_1 =rating_1.merge(df1)
rating_1.head()

,userId,movieId,rating,timestamp,title,genres
0,1,4993,5.0,1112484682,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
1,1,5952,5.0,1112484619,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
2,1,7153,5.0,1112484633,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
3,1,8507,5.0,1094786027,Freaks (1932),Crime|Drama|Horror

In [27]:
rating_1=df[(df['userId']==1) & (df['rating']==5)]
rating_1

     userId  movieId  rating   timestamp
131       1     4993     5.0  1112484682
142       1     5952     5.0  1112484619
158       1     7153     5.0  1112484633
170       1     8507     5.0  1094786027

In [28]:
rating_1 =rating_1.join(df1,on='movieId',how='inner', lsuffix='_Left', rsuffix='_Right')
rating_1.head()

,movieId,userId,movieId_Left,rating,timestamp,movieId_Right,title,genres
131,4993,1,4993,5.0,1112484682,5089,Honky Tonk Freeway (1981),Comedy
142,5952,1,5952,5.0,1112484619,6051,"Harder They Come, The (1973)",Action|Crime|Drama
158,7153,1,7153,5.0,1112484633,7265,"Dreamers, The (2003)",Drama
170,8507,1,8507,5.0,1094786027,25950,"Barkleys of Broadway, The (1949)",Comedy|Musical

# Train an SVD to predict ratings for user with userId = 1

In [29]:
# Create a shallow copy for the movies dataset
user_5 = df1.copy()

#Reset the index for user_5 dataset
user_5 = user_5.reset_index()



# getting full dataset
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)


#create a training set for svd
trainset = data.build_full_trainset()
svd.fit(trainset)

#Predict the ratings for user1 svd.predict(1(userID),x(MovieID))

user_5['Estimate_Score'] = user_5['movieId'].apply(lambda x: svd.predict(1, x).est)

#Drop extra columns from the user1 data frame
user_5 = user_5.drop(['movieId','genres','index'], axis = 1)

# Sort predicted ratings for user1 in descending order
user_5 = user_5.sort_values('Estimate_Score', ascending=False)

#Print top 10 recommendations
print(user_5.head(10))

                                                   title  Estimate_Score
6873   Passion of Joan of Arc, The (Passion de Jeanne...        4.713651
5853       Lord of the Rings: The Two Towers, The (2002)        4.692546
4897   Lord of the Rings: The Fellowship of the Ring,...        4.640857
7356                             Band of Brothers (2001)        4.637861
6172           Day for Night (La Nuit Américaine) (1973)        4.602670
7041   Lord of the Rings: The Return of the King, The...        4.573200
18990                                Black Mirror (2011)        4.551259
8937                     Decalogue, The (Dekalog) (1989)        4.533221
3003                                      Matewan (1987)        4.504764
18528                                Intouchables (2011)        4.504571